/* ---- BODY ---- */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: Arial;
}
/* ---- FIN BODY ---- */

/* ---- HEADER ---- */
header {
    background-color: #333333;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
    color: #FFFFFF;
}

.logo {
    width: 70px;
    height: 70px;
    padding-right: 20px;
}
/* ---- HEADER ---- */

/* ---- MENU ---- */
nav {
    margin: 0;
    padding: 0;
    height: 40px;
    background-color: #5c5c5c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #FFFFFF;
}
/* ---- FIN MENU ---- */

/* ---- MAIN ---- */
main {
    background-color: #EDEBE7;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main section {
    width: 80%;
}
/* ---- FIN MAIN ---- */

/* ---- FOOTER ---- */
footer {
    background-color: #5c5c5c;
    margin: 0;
    padding: 0;
}

footer p {
    color: #FFFFFF;
    display: flex;
}

.copyright {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p a {
    color: #FFFFFF;
}
/* ---- FIN FOOTER ---- */


.lien {
    text-decoration: none;
}